In [9]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd

q_table = np.load('infinite_q_table.npy')
q_table_no_ace = np.zeros([19,2])
q_table_ace = np.zeros([19,2])


for index_s, state in enumerate(q_table): 
    for index_a, ace in enumerate(state): 
        if index_a == 1: 
            q_table_ace[index_s][0] = ace[0]
            q_table_ace[index_s][1] = ace[1]
            
        else: 
            q_table_no_ace[index_s][0] = ace[0]
            q_table_no_ace[index_s][1] = ace[1]


q_table_no_ace_df = pd.DataFrame(q_table_no_ace, columns=['stick', 'hit'], index=np.arange(2,21))
q_table_no_ace_df       

q_table_ace_df = pd.DataFrame(q_table_ace, columns=['stick', 'hit'], index=np.arange(2,21))
q_table_ace_df

    stick     hit
2     0.0  144.00
3     0.0  306.20
4     0.0  301.50
5     0.0  225.00
6     0.0  256.00
7     0.0  169.00
8     0.0  324.00
9     0.0  324.00
10    0.0  400.00
11  121.0  441.00
12  144.0  516.81
13  169.0  669.70
14  196.0  708.70
15  225.0  820.09
16  256.0  708.70
17  289.0  708.70
18  324.0  708.70
19  361.0  441.00
20  400.0  441.00

In [8]:
q_policy = np.load('infinite_policy.npy')
print(q_policy.shape)
policy_df = pd.DataFrame(q_policy, columns=['No Ace', 'Ace'], index=np.arange(2,21))
policy_df

(19, 2)

    No Ace  Ace
2      1.0  1.0
3      1.0  1.0
4      1.0  1.0
5      1.0  1.0
6      1.0  1.0
7      1.0  1.0
8      1.0  1.0
9      1.0  1.0
10     1.0  1.0
11     1.0  1.0
12     0.0  1.0
13     0.0  1.0
14     0.0  1.0
15     0.0  1.0
16     1.0  1.0
17     1.0  1.0
18     0.0  1.0
19     1.0  1.0
20     0.0  1.0

In [15]:
dict = {1:10, 2:10, 3:10.5555}

print(sum(list(dict.values())[1-1:]))

30.555500000000002

In [ ]:
q_policy = np.load('finite_policy.npy')
print(q_policy.shape)

q_policy_noace = np.zeros([19,10])

for index_s, state in enumerate(q_policy): 
    for index_p, percentage in enumerate(state): 
        q_policy_noace[index_s][index_p] = percentage[0]
            
        
policy_df = pd.DataFrame(q_policy_noace, columns=np.arange(0,10), index=np.arange(2,21))
policy_df

(19, 10, 2)

      0    1    2    3    4    5    6    7    8    9
2   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
13  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
14  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
15  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
16  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
17  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
18  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
19  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
20  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [24]:
q_finite_values = np.load('finite_q_table.npy')
q_finite_values[14][8]

array([[0., 0.],
       [0., 0.]])