In [60]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd

q_table = np.load('infinite_q_table.npy')
q_table_no_ace = np.zeros([19,2])
q_table_ace = np.zeros([19,2])


for index_s, state in enumerate(q_table): 
    for index_a, ace in enumerate(state): 
        if index_a == 1: 
            q_table_ace[index_s][0] = ace[0]
            q_table_ace[index_s][1] = ace[1]
            
        else: 
            q_table_no_ace[index_s][0] = ace[0]
            q_table_no_ace[index_s][1] = ace[1]


q_table_no_ace_df = pd.DataFrame(q_table_no_ace, columns=['stick', 'hit'], index=np.arange(2,21))
q_table_no_ace_df       

q_table_ace_df = pd.DataFrame(q_table_ace, columns=['stick', 'hit'], index=np.arange(2,21))
q_table_ace_df

         stick         hit
2     0.000000  410.300413
3     0.000000  319.410250
4     0.000000  340.174228
5     0.000000  360.196460
6     0.000000  367.162908
7     0.000000  403.212930
8     0.000000  362.984772
9     0.000000  392.295582
10    0.000000  444.560353
11  121.000000  709.250912
12  143.999728  807.962130
13  169.000000  791.367566
14  196.000000  712.280447
15  225.000000  540.440770
16  256.000000  753.077469
17  289.000000  603.770919
18  324.000000  520.712009
19  361.000000  424.873671
20  400.000000  424.679631

In [59]:
q_policy = np.load('infinite_policy.npy')
print(q_policy.shape)
policy_df = pd.DataFrame(q_policy, columns=['No Ace', 'Ace'], index=np.arange(2,21))
policy_df

(19, 2)

    No Ace  Ace
2      1.0  1.0
3      1.0  1.0
4      1.0  1.0
5      1.0  1.0
6      1.0  1.0
7      1.0  1.0
8      1.0  1.0
9      1.0  1.0
10     1.0  1.0
11     1.0  1.0
12     1.0  1.0
13     1.0  1.0
14     1.0  1.0
15     0.0  1.0
16     0.0  1.0
17     0.0  1.0
18     0.0  1.0
19     0.0  1.0
20     0.0  1.0