In [29]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd

q_table = np.load('infinite_q_table.npy')
q_table_no_ace = np.zeros([19,2])
q_table_ace = np.zeros([19,2])


for index_s, state in enumerate(q_table): 
    for index_a, ace in enumerate(state): 
        if index_a == 1: 
            q_table_ace[index_s][0] = ace[0]
            q_table_ace[index_s][1] = ace[1]
            
        else: 
            q_table_no_ace[index_s][0] = ace[0]
            q_table_no_ace[index_s][1] = ace[1]


q_table_no_ace_df = pd.DataFrame(q_table_no_ace, columns=['stick NA', 'hit NA'], index=np.arange(2,21))
q_table_ace_df = pd.DataFrame(q_table_ace, columns=['stick A', 'hit A'], index=np.arange(2,21))

q_table = pd.concat([q_table_no_ace_df, q_table_ace_df], axis=1)
q_table

    stick NA      hit NA     stick A       hit A
2        4.0  478.660444    0.000000    0.000000
3        9.0  468.913657    0.000000    0.000000
4       16.0  467.108166    0.000000    0.000000
5       25.0  456.041503    0.000000    0.000000
6       36.0  457.874782    0.000000    0.000000
7       49.0  453.220293    0.000000    0.000000
8       64.0  448.896297    0.000000    0.000000
9       81.0  439.866805    0.000000    0.000000
10     100.0  426.339953    0.000000    0.000000
11     121.0  429.386506  121.000000  694.403260
12     144.0  330.051315  143.708872  694.550312
13     169.0  253.743194  169.000000  643.469551
14     196.0  222.509821  196.000000  634.498121
15     225.0  185.049241  225.000000  576.387484
16     256.0  170.030130  256.000000  562.783626
17     289.0  139.822474  289.000000  531.422671
18     324.0  112.449322  324.000000  480.645440
19     361.0   72.753855  361.000000  466.943722
20     400.0   22.471660  400.000000  427.026156

In [30]:
q_policy = np.load('infinite_policy.npy')
print(q_policy.shape)
policy_df = pd.DataFrame(q_policy, columns=['No Ace', 'Ace'], index=np.arange(2,21))
policy_df

(19, 2)

    No Ace  Ace
2      1.0  0.0
3      1.0  0.0
4      1.0  0.0
5      1.0  0.0
6      1.0  0.0
7      1.0  0.0
8      1.0  0.0
9      1.0  0.0
10     1.0  0.0
11     1.0  1.0
12     1.0  1.0
13     1.0  1.0
14     1.0  1.0
15     0.0  1.0
16     0.0  1.0
17     0.0  1.0
18     0.0  1.0
19     0.0  1.0
20     0.0  1.0

In [15]:
dict = {1:10, 2:10, 3:10.5555}

print(sum(list(dict.values())[1-1:]))

30.555500000000002

In [ ]:
q_policy = np.load('finite_policy.npy')
print(q_policy.shape)

q_policy_noace = np.zeros([19,10])

for index_s, state in enumerate(q_policy): 
    for index_p, percentage in enumerate(state): 
        q_policy_noace[index_s][index_p] = percentage[0]
            
        
policy_df = pd.DataFrame(q_policy_noace, columns=np.arange(0,10), index=np.arange(2,21))
policy_df

(19, 10, 2)

      0    1    2    3    4    5    6    7    8    9
2   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
13  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
14  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
15  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
16  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
17  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
18  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
19  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
20  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [24]:
q_finite_values = np.load('finite_q_table.npy')
q_finite_values[14][8]

array([[0., 0.],
       [0., 0.]])