In [28]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd

q_table = np.load('infinite_q_table.npy')
q_table_no_ace = np.zeros([19,2])
q_table_ace = np.zeros([19,2])


for index_s, state in enumerate(q_table): 
    for index_a, ace in enumerate(state): 
        if index_a == 1: 
            q_table_ace[index_s][0] = ace[0]
            q_table_ace[index_s][1] = ace[1]
            
        else: 
            q_table_no_ace[index_s][0] = ace[0]
            q_table_no_ace[index_s][1] = ace[1]


q_table_no_ace_df = pd.DataFrame(q_table_no_ace, columns=['stick NA', 'hit NA'], index=np.arange(2,21))
q_table_ace_df = pd.DataFrame(q_table_ace, columns=['stick A', 'hit A'], index=np.arange(2,21))

q_table = pd.concat([q_table_no_ace_df, q_table_ace_df], axis=1)
q_table

    stick NA      hit NA  stick A       hit A
2        4.0  485.115137      0.0    0.000000
3        9.0  479.645630      0.0    0.000000
4       16.0  463.092882      0.0    0.000000
5       25.0  459.051030      0.0    0.000000
6       36.0  452.110625      0.0    0.000000
7       49.0  448.493742      0.0    0.000000
8       64.0  448.351797      0.0    0.000000
9       81.0  442.962077      0.0    0.000000
10     100.0  426.718487      0.0    0.000000
11     121.0  430.821587    121.0  533.536144
12     144.0  309.898964    144.0  472.325681
13     169.0  259.804835    169.0  458.064716
14     196.0  233.912236    196.0  390.537507
15     225.0  172.625981    225.0  364.095230
16     256.0  157.185230    256.0  332.201244
17     289.0  121.127591    289.0  282.897124
18     324.0  128.638220    324.0  203.088140
19     361.0   91.434940    361.0  185.235412
20     400.0   22.339685    400.0  137.435702

In [29]:
q_policy = np.load('infinite_policy.npy')
print(q_policy.shape)
policy_df = pd.DataFrame(q_policy, columns=['No Ace', 'Ace'], index=np.arange(2,21))
policy_df

(19, 2)

    No Ace  Ace
2      1.0  0.0
3      1.0  0.0
4      1.0  0.0
5      1.0  0.0
6      1.0  0.0
7      1.0  0.0
8      1.0  0.0
9      1.0  0.0
10     1.0  0.0
11     1.0  1.0
12     1.0  1.0
13     1.0  1.0
14     1.0  1.0
15     0.0  1.0
16     0.0  1.0
17     0.0  0.0
18     0.0  0.0
19     0.0  0.0
20     0.0  0.0

In [15]:
dict = {1:10, 2:10, 3:10.5555}

print(sum(list(dict.values())[1-1:]))

30.555500000000002

In [33]:
q_policy = np.load('finite_policy.npy')
print(q_policy.shape)

q_policy_noace = np.zeros([19,10])

for index_s, state in enumerate(q_policy): 
    for index_p, percentage in enumerate(state): 
        q_policy_noace[index_s][index_p] = percentage[0]
            
        
policy_df = pd.DataFrame(q_policy_noace, columns=np.arange(0,10), index=np.arange(2,21))
policy_df

(19, 10, 2)

      0    1    2    3    4    5    6    7    8    9
2   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
13  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
15  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
16  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
17  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
18  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
19  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
20  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [37]:
q_finite_values = np.load('finite_q_table.npy')
q_finite_values[1][0]

array([[0., 0.],
       [0., 0.]])